.submenu{
    position: relative;
    background-image: url('images/about-img/submenu.png');
    color: yellow;
    
}
.overlay{
background-blend-mode: overlay;
background-color: #696969;
    
}
.subemu-ab{
    font-size: 48px;
}
.home-about{
    font-size: 32px;
}

.about{
    background-color: #ede8e8;
}
.about-content {
    font-size: 18px;
    
}
.vision{
    font-size: 18px;
}
.mission{
    font-size: 18px;
}
.member{
 text-align: center;
}