.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home{
   padding-left: 70px;
  }
  .logo{
    width: 150px;
    cursor: pointer;
  
  }
  .navbar ul li
   {
    list-style: none;
    display: inline-block;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #8a8a8a;
    text-transform: uppercase;
    padding: 25px;
    font-weight: 600;
  }